In [84]:
import pandas as pd

In [85]:
predictions = pd.read_csv('weighted_predictions_2.csv')

In [86]:
test_sub = pd.read_csv('../../test.csv')
valid_dates = pd.to_datetime(test_sub['time'].unique())

In [87]:
merged_df = test_sub.merge(predictions, left_index=True, right_index=True)
merged_df.head()

   id_x                 time  prediction_x location  id_y  prediction_y
0     0  2023-05-01 00:00:00             0        A     0      2.215442
1     1  2023-05-01 01:00:00             0        A     1      2.491941
2     2  2023-05-01 02:00:00             0        A     2      2.341206
3     3  2023-05-01 03:00:00             0        A     3     62.535159
4     4  2023-05-01 04:00:00             0        A     4    369.899942

In [88]:
merged_df.rename(columns={'prediction_y': 'prediction'}, inplace=True)
merged_df.rename(columns={'time': 'date_forecast'}, inplace=True)

In [89]:
predictions = merged_df

In [90]:
predictions['date_forecast'] = pd.to_datetime(predictions['date_forecast'])

In [91]:
loc_a = predictions.iloc[:len(predictions)//3]
loc_b = predictions.iloc[len(predictions)//3:2*len(predictions)//3]
loc_c = predictions.iloc[2*len(predictions)//3:]

In [92]:
from pandas import Timestamp

valid_dates = [Timestamp('2023-05-01 00:00:00'), Timestamp('2023-05-01 01:00:00'), Timestamp('2023-05-01 02:00:00'), Timestamp('2023-05-01 20:00:00'), Timestamp('2023-05-01 21:00:00'), Timestamp('2023-05-01 22:00:00'), Timestamp('2023-05-01 23:00:00'), Timestamp('2023-05-06 00:00:00'), Timestamp('2023-05-06 01:00:00'), Timestamp('2023-05-06 02:00:00'), Timestamp('2023-05-06 20:00:00'), Timestamp('2023-05-06 21:00:00'), Timestamp('2023-05-06 22:00:00'), Timestamp('2023-05-06 23:00:00'), Timestamp('2023-05-14 00:00:00'), Timestamp('2023-05-14 01:00:00'), Timestamp('2023-05-14 21:00:00'), Timestamp('2023-05-14 22:00:00'), Timestamp('2023-05-14 23:00:00'), Timestamp('2023-05-18 00:00:00'), Timestamp('2023-05-18 01:00:00'), Timestamp('2023-05-18 21:00:00'), Timestamp('2023-05-18 22:00:00'), Timestamp('2023-05-18 23:00:00'), Timestamp('2023-05-20 00:00:00'), Timestamp('2023-05-20 01:00:00'), Timestamp('2023-05-20 21:00:00'), Timestamp('2023-05-20 22:00:00'), Timestamp('2023-05-20 23:00:00'), Timestamp('2023-05-21 00:00:00'), Timestamp('2023-05-21 01:00:00'), Timestamp('2023-05-21 21:00:00'), Timestamp('2023-05-21 22:00:00'), Timestamp('2023-05-21 23:00:00'), Timestamp('2023-05-22 00:00:00'), Timestamp('2023-05-22 01:00:00'), Timestamp('2023-05-22 21:00:00'), Timestamp('2023-05-22 22:00:00'), Timestamp('2023-05-22 23:00:00'), Timestamp('2023-05-23 00:00:00'), Timestamp('2023-05-23 01:00:00'), Timestamp('2023-05-23 21:00:00'), Timestamp('2023-05-23 22:00:00'), Timestamp('2023-05-23 23:00:00'), Timestamp('2023-05-25 00:00:00'), Timestamp('2023-05-25 01:00:00'), Timestamp('2023-05-25 21:00:00'), Timestamp('2023-05-25 22:00:00'), Timestamp('2023-05-25 23:00:00'), Timestamp('2023-05-27 00:00:00'), Timestamp('2023-05-27 01:00:00'), Timestamp('2023-05-27 21:00:00'), Timestamp('2023-05-27 22:00:00'), Timestamp('2023-05-27 23:00:00'), Timestamp('2023-05-28 00:00:00'), Timestamp('2023-05-28 01:00:00'), Timestamp('2023-05-28 21:00:00'), Timestamp('2023-05-28 22:00:00'), Timestamp('2023-05-28 23:00:00'), Timestamp('2023-05-30 00:00:00'), Timestamp('2023-05-30 01:00:00'), Timestamp('2023-05-30 21:00:00'), Timestamp('2023-05-30 22:00:00'), Timestamp('2023-05-30 23:00:00'), Timestamp('2023-06-01 00:00:00'), Timestamp('2023-06-01 21:00:00'), Timestamp('2023-06-01 22:00:00'), Timestamp('2023-06-01 23:00:00'), Timestamp('2023-06-02 00:00:00'), Timestamp('2023-06-02 21:00:00'), Timestamp('2023-06-02 22:00:00'), Timestamp('2023-06-02 23:00:00'), Timestamp('2023-06-03 00:00:00'), Timestamp('2023-06-03 21:00:00'), Timestamp('2023-06-03 22:00:00'), Timestamp('2023-06-03 23:00:00'), Timestamp('2023-06-04 00:00:00'), Timestamp('2023-06-04 21:00:00'), Timestamp('2023-06-04 22:00:00'), Timestamp('2023-06-04 23:00:00'), Timestamp('2023-06-06 00:00:00'), Timestamp('2023-06-06 22:00:00'), Timestamp('2023-06-06 23:00:00'), Timestamp('2023-06-09 00:00:00'), Timestamp('2023-06-09 22:00:00'), Timestamp('2023-06-09 23:00:00'), Timestamp('2023-06-11 00:00:00'), Timestamp('2023-06-11 22:00:00'), Timestamp('2023-06-11 23:00:00'), Timestamp('2023-06-13 00:00:00'), Timestamp('2023-06-13 22:00:00'), Timestamp('2023-06-13 23:00:00'), Timestamp('2023-06-14 00:00:00'), Timestamp('2023-06-14 22:00:00'), Timestamp('2023-06-14 23:00:00'), Timestamp('2023-06-18 00:00:00'), Timestamp('2023-06-18 22:00:00'), Timestamp('2023-06-18 23:00:00'), Timestamp('2023-06-19 00:00:00'), Timestamp('2023-06-19 22:00:00'), Timestamp('2023-06-19 23:00:00'), Timestamp('2023-06-22 00:00:00'), Timestamp('2023-06-22 22:00:00'), Timestamp('2023-06-22 23:00:00'), Timestamp('2023-06-26 00:00:00'), Timestamp('2023-06-26 22:00:00'), Timestamp('2023-06-26 23:00:00'), Timestamp('2023-06-28 00:00:00'), Timestamp('2023-06-28 22:00:00'), Timestamp('2023-06-28 23:00:00'), Timestamp('2023-06-29 00:00:00'), Timestamp('2023-06-29 22:00:00'), Timestamp('2023-06-29 23:00:00'), Timestamp('2023-06-30 00:00:00'), Timestamp('2023-06-30 22:00:00'), Timestamp('2023-06-30 23:00:00'), Timestamp('2023-07-02 00:00:00'), Timestamp('2023-07-02 22:00:00'), Timestamp('2023-07-02 23:00:00'), Timestamp('2023-07-03 00:00:00'), Timestamp('2023-07-03 22:00:00'), Timestamp('2023-07-03 23:00:00')]

In [93]:
valid_dates_df = pd.DataFrame(valid_dates, columns=['date_forecast'])

loc_a.loc[loc_a['date_forecast'].isin(valid_dates), 'prediction'] = 0

loc_b.loc[loc_b['date_forecast'].isin(valid_dates), 'prediction'] = 0

loc_c.loc[loc_c['date_forecast'].isin(valid_dates), 'prediction'] = 0

In [94]:
predictions = pd.concat([loc_a, loc_b, loc_c])

In [95]:
predictions.head(10)

   id_x       date_forecast  prediction_x location  id_y   prediction
0     0 2023-05-01 00:00:00             0        A     0     0.000000
1     1 2023-05-01 01:00:00             0        A     1     0.000000
2     2 2023-05-01 02:00:00             0        A     2     0.000000
3     3 2023-05-01 03:00:00             0        A     3    62.535159
4     4 2023-05-01 04:00:00             0        A     4   369.899942
5     5 2023-05-01 05:00:00             0        A     5   886.981422
6     6 2023-05-01 06:00:00             0        A     6  1724.157524
7     7 2023-05-01 07:00:00             0        A     7  2947.255576
8     8 2023-05-01 08:00:00             0        A     8  3079.617317
9     9 2023-05-01 09:00:00             0        A     9  3226.726525

In [96]:
predictions.drop(['date_forecast', 'id_x', 'prediction_x', 'location', 'id_y'], axis=1, inplace=True)
predictions.head()

   prediction
0    0.000000
1    0.000000
2    0.000000
3   62.535159
4  369.899942

In [97]:
predictions.reset_index(drop=True, inplace=True)

In [98]:
predictions.to_csv('predictions_1.csv', index=True, index_label='id')