In [1]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
import numpy as np

In [2]:
ag_pred = pd.read_csv('predictions_ag.csv')
cb_pred = pd.read_csv('predictions_catboost.csv')
xg_pred = pd.read_csv('predictions_xg.csv')

In [3]:
mae_ag = 155.00755
mae_cb = 154.44323
mae_xg = 155.1888

In [4]:
noise_factor = 0.01  # 
mae_ag *= (1 + np.random.uniform(-noise_factor, noise_factor))
mae_cb *= (1 + np.random.uniform(-noise_factor, noise_factor))
mae_xg *= (1 + np.random.uniform(-noise_factor, noise_factor))

In [5]:
total_inverse_mae = (1 / mae_ag) + (1 / mae_cb) + (1 / mae_xg)
w1 = (1 / mae_ag) / total_inverse_mae
w2 = (1 / mae_cb) / total_inverse_mae
w3 = (1 / mae_xg) / total_inverse_mae

In [6]:
w1 = 0.25
w2 = 0.5
w = 0.25

In [7]:
w1, w2, w3

(0.25, 0.5, 0.33649568714423017)

In [8]:
combined_predictions = (ag_pred['prediction'] * w1) + \
                        (cb_pred['prediction'] * w2) + \
                        (xg_pred['prediction'] * w3)

In [9]:
combined_predictions.reset_index(drop=True, inplace=True)

In [10]:
combined_predictions = combined_predictions.to_frame()

In [11]:
combined_predictions.index.name = 'id'

In [12]:
combined_predictions.head()

    prediction
id
0     2.108185
1     2.382459
2     2.252615
3    67.298900
4   407.560815

In [13]:
combined_predictions.to_csv('weighted_predictions_4.csv')