In [30]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
import numpy as np

In [31]:
ag_pred = pd.read_csv('predictions_ag.csv')
cb_pred = pd.read_csv('predictions_catboost.csv')
xg_pred = pd.read_csv('predictions_xg.csv')
h2o_pred = pd.read_csv('predictions_h2o.csv')

In [32]:
mae_ag = 155.00755
mae_cb = 154.44323
mae_xg = 155.1888
mae_h2o = 155.67469

In [33]:
noise_factor = 0.01  # 
mae_ag *= (1 + np.random.uniform(-noise_factor, noise_factor))
mae_cb *= (1 + np.random.uniform(-noise_factor, noise_factor))
mae_xg *= (1 + np.random.uniform(-noise_factor, noise_factor))
mae_h2o *= (1 + np.random.uniform(-noise_factor, noise_factor))

In [34]:
total_inverse_mae = (1 / mae_ag) + (1 / mae_cb) + (1 / mae_xg) + (1 / mae_h2o)
w1 = (1 / mae_ag) / total_inverse_mae
w2 = (1 / mae_cb) / total_inverse_mae
w3 = (1 / mae_xg) / total_inverse_mae
w4 = (1 / mae_h2o) / total_inverse_mae

In [35]:
w1, w2, w3, w4

(0.25020786074276063,
 0.2517488813194539,
 0.25069858419826857,
 0.2473446737395169)

In [36]:
combined_predictions = (ag_pred['prediction'] * w1) + \
                        (cb_pred['prediction'] * w2) + \
                        (xg_pred['prediction'] * w3) +\
                        (h2o_pred)['prediction'] * w4

In [37]:
combined_predictions.reset_index(drop=True, inplace=True)

In [38]:
combined_predictions = combined_predictions.to_frame()

In [39]:
combined_predictions.index.name = 'id'

In [40]:
combined_predictions.head()

    prediction
id
0     3.911553
1     4.119543
2     4.005760
3    61.592892
4   368.768849

In [41]:
combined_predictions.to_csv('weighted_predictions_3.csv')