In [44]:
import pandas as pd

In [45]:
pred1 = pd.read_csv('/Users/nickaskari/Machinelearning/TDT4173/data/masterplan/xgboost/predictions.csv')
pred2 = pd.read_csv('/Users/nickaskari/Machinelearning/TDT4173/data/notebooks_trials/experimentations/predictions_1.csv')

In [46]:
def weighted_average(df1, df2):
    
    merged_df = df1.merge(df2, on='id', suffixes=('_df1', '_df2'))
    
    
    merged_df['prediction'] = 0.3 * merged_df['prediction_df1'] + 0.7 * merged_df['prediction_df2']
    merged_df.reset_index(drop = True, inplace = True)
    
    return merged_df[['prediction']]


result = weighted_average(pred1, pred2)
result.index.name = 'id'
result.head()

    prediction
id
0     0.000000
1     0.000000
2     0.000000
3    66.348735
4   382.014089

In [47]:
result.tail()

      prediction
id
2155   50.216885
2156   24.603557
2157   11.495964
2158    0.000000
2159    0.000000

In [48]:
result.to_csv('weighted_shit.csv')